<%- include layouts/head.ejs %>
<%- include layouts/icon.ejs %>
<%- include layouts/header.ejs %>
<br>
<div class="row">
  <div class="col-4">
    <div class="user-information__border"></div>
    <div class="user-information">
      <% if (me) { %>
        <%- include components/user_info.ejs %>
      <% } else { %>
        <br>
        <a href="/api/v1/public/">Login</a>
        <br>
        <a href="/api/v1/public/user/register">Signup</a>
      <% } %>
    </div>
  </div>
  <div class="col-6">
    <% if (me) { %>
      <%- include components/new_tweet.ejs %>
    <% } else { %>
      <div class="box"></div>
    <% } %>
    <%- include components/tweets.ejs %>
  </div>
</div>
