<form id="my-form4-<%= tweets[i].id %>">
  <button id="unlike_ajax" class="btn-default" type="submit" value="Unlike"><p4 id="unlike-<%= tweets[i].id %>">Unlike</p4></button>
</form>



<script>
    $('#my-form4-<%= tweets[i].id %>').submit(function(event) {
        event.preventDefault();

        var $form = $(this), url = "/tweets/<%= tweets[i].id %>/unlike";
        var posting = $.post( url );

        posting.done(function( data ) {
          $("#unlike-<%= tweets[i].id %>").text('Unliked');
          $("#like-<%= tweets[i].id %>").text('Like');
        });
    });
</script>
