
<div class="tweet-list">
  <% for(var i = 0; i < tweets.length; i++) { %>
    <div class="tweets">
      <div class="row">
        <h2><%= user.fname %> <%= user.lname %></h2>
        <% date=new Date(Date.parse(tweets[i].createdAt)) %>
        <h3><span><a href="/user/<%= user.id %>"> @<%= user.username %></a></span> • <%= date.getDate() %> <%= date.getMonth() %> <%= date.getFullYear() %></h3>
      </div>

      <div class="row">
        <h4><%= tweets[i].content %></h4>
      </div>

      <br>
      <div class="tweet-border"></div>
      <br>
    </div>
  <% } %>
</div>
