
<div class="row">
  <div class="col-8 user-information__text">
    <h4><%= user.fname %> <%=user.lname %></h4>

    <a href="/user/<%= user.id %>">
      <h2>@<%= user.username %></h2>
    </a>
    <div class="user-information__stats user-information__stats">
      <div class="row">
        <div class="col-4">
          <span class="user-information__stat-title">Tweets:</span>
          <span><a href="/user/<%= user.id %>"><%= user.numTweets %></a></span>
        </div>
        <div class="col-4">
          <span class="user-information__stat-title">Following:</span>

          <span><a href="/user/<%= user.id %>/followees"><%= user.numFollowees %></a></span>
        </div>
        <div class="col-4">
          <span class="user-information__stat-title">Followers:</span>
          <span><a href="/user/<%= user.id %>/followers"><f1><%= user.numFollowers %></f1></a></span>
        </div>
      </div>
    </div>
  </div>
</div>
