<%- include layouts/head.ejs %>
<%- include layouts/icon.ejs %>
<%- include layouts/header.ejs %>
<br>
<div class="row">
  <div class="col-4">
    <div class="user-information__border"></div>
    <div class="user-information">
        <%- include components/user_info.ejs %>
    </div>
  </div>
  <div class="col-6">
    <div class="box"></div>
    <div class="tweet-list">
      <% for(var i = 0; i < followees.length; i++) { %>
        <div class="tweets">
          <div class="row">
            <h2><%= followees[i].followee.fname + " " + followees[i].followee.lname %></h2>
            <h3><span><a href="/api/v1/<%= API_TOKEN %>/user/<%= followees[i].followee.id %>"> @<%= followees[i].followee.username %></a></span></h3>
          </div>
          <div class="row">
          </div>
          <br>
          <hr/>
          <br>
        </div>
      <% } %>
    </div>
  </div>
</div>
