
<br>
<div class="row">
    <div class="col-4">
      <div class="user-information__border"></div>
        <div class="user-information">
          <%- include components/user_info.ejs %>
        </div>
    </div>
    <div class="col-6">
      <% if (me) { %>
          <%- include components/new_tweet.ejs %>
          <% if (me.id != user.id) { %>
            <%- include components/unfollow.ejs %>
            <%- include components/new_follow.ejs %>
          <% } %>
      <% } %>
      <%- include components/tweets.ejs %>
    </div>
</div>
