<%- include layouts/icon.ejs %>

<%- include layouts/header.ejs %>

<div class="tweet-list">
  <% for(var i = 0; i < followers.length; i++) { %>
    <div class="tweets">
      <div class="row">
        <h2><%= followers[i].follower.fname + " " +  followers[i].follower.lname %></h2>
        <h3><span><a href="/user/<%= followers[i].follower.id %>"> @<%= followers[i].follower.username %></a></span></h3>
      </div>
      <div class="row">
      </div>
      <br>
      <div class="tweet-border"></div>
      <br>
    </div>
  <% } %>
</div>
